.container {
  background-color: var(--darkBlue);
}

.content {
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.heading {
  color: var(--white);
  border-bottom: 4px solid var(--red);
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  color: var(--white);
  opacity: 0.8;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.card {
  padding: 5rem;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.usp {
  text-align: center;
}

@media screen and (max-width: 1168px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .card {
    /* padding-top: 5rem; */
    /* padding-right: 3rem; */
  }

  .imgContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
  }
}
