.container {
  padding-bottom: 8rem;
  width: 100%;
}

.heading,
.strong {
  text-align: center;
  width: 100%;
}

.strong {
  font-size: 2.4rem;
  font-family: var(--roboto);
  font-weight: 500;
  color: var(--darkBlue);
  text-transform: capitalize;
}
