.container {
  background-color: var(--lightBlue);
}

.content {
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.top,
.commitBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  border-bottom: 4px solid var(--red);
  width: fit-content;
  margin-bottom: 2rem;
}

.copy {
  color: var(--cream);
  width: 60%;
  font-size: 2rem;
  font-weight: 500;
  opacity: 0.8;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 1rem;
  margin-top: 3rem;
}

.commitBox {
  padding: 3rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.img {
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.commitBox p {
  text-align: center;
}

@media screen and (max-width: 568px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .heading {
    text-align: center;
  }

  .bottom {
    grid-gap: 2rem;
  }
}
