.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.heading {
  border-bottom: 4px solid var(--red);
  text-align: center;
}

.copy {
  width: 60%;
  text-align: center;
}

.bottom {
  padding-bottom: 15rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10rem;
}

.servicesContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.leftTop {
  padding: 3rem;
  border-radius: 10px;
  background-color: var(--border);
  border: 1px solid var(--border);
}

.title {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.leftBottomFlex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.lb1,
.lb2 {
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.lb1 {
  background-color: var(--darkBlue);
}

.desc2 {
  color: var(--white);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -8rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1300px) {
  .bottom {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media screen and (max-width: 1200px) {
  .servicesContainer {
    grid-template-columns: 1fr;
  }

  .title {
    text-align: center;
    width: 100%;
  }

  .imgContainer {
    height: 400px;
  }
}

@media screen and (max-width: 1068px) {
  .bottom {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 868px) {
  .leftBottomFlex {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .imgContainer {
    height: 300px;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
