.container {
  padding-bottom: 15rem;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
  padding-bottom: 15rem;
  padding-top: 15rem;
}

.left,
.right {
  flex: 1;
  width: 100%;
}

.imgContainer {
  position: relative;
  height: 550px;
  width: 100%;
  border-radius: 10px;
}

.imgContainer::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 40%;
  top: -15px;
  left: -15px;
  background-color: var(--red2);
  z-index: -1;
  border-radius: 10px;
}

.imgContainer::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 30%;
  bottom: -25px;
  right: -25px;
  background-image: radial-gradient(var(--lightBlue2) 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px);
  z-index: 2;
  border-radius: 10px;
}

.img {
  object-fit: cover;
  font-size: 0;
  border-radius: 10px;
}

.heading,
.headingii {
  margin-bottom: 2rem;
  width: fit-content;
  border-bottom: 4px solid var(--red);
}

.headingii {
  display: none;
}

.copy {
  margin-bottom: 3rem;
}

.iconTextContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.strong {
  font-family: var(--roboto);
  font-weight: 500;
  text-transform: capitalize;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 3rem;
}

@media screen and (max-width: 968px) {
  .content {
    flex-direction: column;
    padding: 3rem;
    padding-top: 5rem;
  }

  .heading {
    display: none;
  }

  .headingii {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
  }

  .imgContainer {
    height: 650px;
  }

  .btnContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .content {
    padding: 15rem 0rem;
  }

  .imgContainer {
    height: 400px;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
  }

  .imgContainer {
    border: 5px solid var(--red2);
    border-radius: 15px;
  }

  .imgContainer::after,
  .imgContainer::before {
    width: 0%;
    height: 0%;
  }

  .btnContainer {
    justify-content: center;
  }
}
