.container {
  position: relative;
  margin-bottom: 8rem;
}

.imgOverlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(10, 7, 27, 0.7), rgba(10, 7, 27, 0.7));
}

.img {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 3rem; */
  padding-top: 5rem;
  padding-bottom: 15rem;
}

.heading,
.heading2 {
  color: var(--cream);
  z-index: 3;
  text-align: center;
}

.heading {
  border-bottom: 4px solid var(--red);
  width: fit-content;
  margin-bottom: 1rem;
}

.heading2 {
  width: 50%;
  font-size: 6rem;
  margin-bottom: 3rem;
}

.copy {
  color: var(--cream);
  width: 600px;
  font-family: var(--roboto);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0.8;
  z-index: 3;
  text-transform: none;
  text-align: center;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 3rem;
  z-index: 3;
}

@media screen and (max-width: 968px) {
  .heading2 {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .content {
    align-items: flex-start;
  }

  .heading,
  .heading2 {
    font-size: 6rem;
    text-align: left;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .heading,
  .heading2 {
    font-size: 5.5rem;
  }
}
