.container {
  position: relative;
  margin-bottom: 8rem;
}

.imgOverlay {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
}

.img {
  object-fit: cover;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.left,
.right {
  z-index: 3;
  flex: 1;
}

.heading {
  color: var(--cream);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.copy {
  color: var(--cream);
  width: 80%;
  font-family: var(--roboto);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0.8;
}

.right {
  background-color: var(--darkBlue);
  padding: 5rem;

}

.city {
  color: var(--cream);
}
