.content {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.heading {
  width: 60%;
}

.copy {
  margin-bottom: 3rem;
  width: 60%;
  /* text-align: center; */
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.rightTop {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.rightBottom {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

.imgContainer {
  position: relative;
  font-size: 0;
  height: 355px;
  width: 100%;
}

.img {
  position: absolute;
  object-fit: cover;
  font-size: 0;
  border-radius: 10px;
}

@media screen and (max-width: 1068px) {
  .heading {
    width: 100%;
    text-align: center;
  }

  .copy {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

@media screen and (max-width: 970px) {
  .content {
    flex-direction: column;
    gap: 0rem;
  }

  .copy {
    width: 100%;
  }

  .imgContainer {
    height: 400px;
  }
}

@media screen and (max-width: 1068px) {
  .right {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .rightTop,
  .rightBottom {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  .imgContainer {
    height: 650px;
  }
}

/* @media screen and (max-width: 568px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .rightTop,
  .rightBottom {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .rightBottom {
    margin-top: 2rem;
  }

  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 5rem;
  }
} */
