.container {
  margin-bottom: 8rem;
}

.heading {
  margin-bottom: 2rem;
  position: relative;
  width: fit-content;
}

.heading::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 7px;
  background-color: var(--red);
  bottom: 0;
  left: 0;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 2rem;
}

.cardContainer1,
.cardContainer2 {
  display: grid;
  grid-auto-flow: column;
  animation: moveReverse 20s linear infinite;
  width: 100%;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.cardContainer1:hover,
.cardContainer2:hover {
  animation-play-state: paused;
}

.cardContainer2 {
  animation: move 20s linear infinite;
}

.card {
  background-color: var(--lightBlue);
  padding: 2rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  width: 465px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review {
  font-weight: 700;
}

.personBox {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.personImage {
  border: 2px solid var(--border);
  border-radius: 50%;
  padding: 0.3rem;
}

.reviewer {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company {
  display: block;
  font-weight: 400;
  opacity: 0.7;
}

.starContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .1rem;
  margin-top: .2rem;
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 20px;
  height: 20px;
  background-color: var(--red);
}

@media screen and (max-width: 568px) {
  .cardContainer1,
  .cardContainer2 {
    grid-gap: 2rem;
  }

  .cardContainer1 {
    margin-bottom: 2rem;
  }

  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveReverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
