.container {
  position: relative;
  background-color: var(--border);
}

.content {
  padding-top: 5rem;
  padding-bottom: 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.top {
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.heading {
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--red);
  width: fit-content;
  text-align: right;
}

.copy {
  opacity: 0.8;
  width: 90%;
  opacity: 0.8;
  text-align: right;
}

.btnContainer {
  margin-top: 2rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.cardContainer1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.cardContainer1:hover {
  animation-play-state: paused;
}

.card {
  background-color: var(--lightBlue);
  padding: 3rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.review {
  font-weight: 700;
}

.personBox {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.personImage {
  border: 2px solid var(--border);
  border-radius: 50%;
  padding: 0.3rem;
}

.reviewer {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.company {
  display: block;
  font-weight: 400;
  opacity: 0.7;
}

.starContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  margin-top: 0.2rem;
}

.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 20px;
  height: 20px;
  background-color: var(--red);
}

@media screen and (max-width: 1068px) {
  .container {
    overflow: hidden;
  }

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: -1;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .copy {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .btnContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
