.container {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  border-bottom: 4px solid var(--red);
  width: fit-content;
  margin-bottom: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin-top: 3rem;
  padding-top: 0rem;
}

.imgContainer {
  position: relative;
  height: 300px;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (max-width: 968px) {
  .top {
    align-items: center;
  }

  .copy {
    width: 100%;
    text-align: left;
  }

  .bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 0rem;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
